In [80]:
import pandas as pd
import matplotlib.pyplot as plt
from pymongo import MongoClient

In [81]:
class DataFrame:
    def conectar(self,host, port, username, password, db):
        global conn
        if username and password:
            mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username,password,host,port,db)
            conn = MongoClient(mongo_uri)
        else:
            conn = MongoClient(host, port)
        return conn[db]
    
    def read_mongo(self,no_id=True):
        
        db = conn['rios']
        test = db.rios
        df = pd.DataFrame(list(test.find()))

        if no_id:
            del df['_id']

        return df

In [84]:
start=DataFrame()
start.conectar('192.168.2.9','27017','alfonso','usuario','rios')

Database(MongoClient(host=['192.168.2.9:27017'], document_class=dict, tz_aware=False, connect=True), 'rios')

In [85]:
start.read_mongo()

    Caudal  Cuenca  Recorrido               Rio
0    340.0  12.486    310.000          Rio Miño
1    675.0  97.290    897.000         Rio Duero
2    444.0  80.600      1.007          Rio Tajo
3     78.0  67.633    744.000      Rio Guadiana
4    165.0  57.071    657.000  Rio Guadalquivir
5     17.0   3.010    208.000           Rio Ter
6     19.0   5.000    148.000     Rio Llobregat
7    600.0  86.100    930.000          Rio Ebro
8     15.0   4.028    156.000       Rio Mijares
9     14.0   6.394    280.000         Rio Turia
10    50.0  21.579    498.000         Rio Jucar
11    27.0  18.870    325.000        Rio Segura
12     8.0   3.147    154.000   Rio Guadalhorce
13    55.0   3.692    138.000         Rio Nalon